@model VirtualMusicStore.WebApp.Models.AlbumVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
